
.container{
	width: 85%;
	margin: 0 auto;
}
.image{
	float: left;
	}
img{
	width: 100%;
}
.logo{
	float: left;
}
.logo h1{
	font-size: 5em;
	padding-left: 5px;
	line-height: 3em;
}
.main{
	clear: both;
	text-align: left;
}
.br-mob-only {
	display: none;
}
input{
	width: inherit;
    height: inherit;
    font-size: 13.3px;
    text-align: left;
}
label{
	font-size: 1em;
}
#glueResult, 
#waterResult, 
#glueResultAdd, 
#waterResultAdd{
	width: 50%;
}